@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bowlby+One+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bowlby+One+SC&family=Sorts+Mill+Goudy:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

background-image: url(./background_image.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 140vh;

}

#container{
max-width: 1240px;
/* height: 1036px; */
margin: auto;
margin-top: 30px;
background-color: rgba(0, 0, 0, 0.3);

}


h1{
    text-align: center;
    color: white;
    margin: auto;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 2px;
    font-size: 3.1rem;

}
span{

    color: #ff0000;
    
}

h3{
text-align: center;
color: white;
margin: auto;
font-family: 'Sorts Mill Goudy', serif;

}

textarea{
resize: none;
}

#survey-form{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    color: white;
    padding: 30px 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}

.inputs{
    margin-top: 10px;
}

#name, #age, #email, #contenttype, #feedback {
    width: 100%;
    padding: 12px 10px;
    margin-top: 10px;

}

textarea{
    resize: none;

/* border: 2px solid red; */

}


#contenttype{

    font-size: xx-small;

}

input::placeholder, textarea::placeholder{
font-size: xx-small;

}



.submit1{

    width: 160px;
    margin: auto;
    margin-top: 15px;
    /* text-align: center; */

}
#submitbutton{

width: 160px;
height: 45px;
border-radius: 50px;
border: none;
background-color: red;
color: white;
cursor: pointer;
}

#submitbutton:hover{

    background-color: white;
    color: red;
    font-size: large;
}














